/* 
Style Sheet of Indepth.hgob.org
Author: Eric Zhu
ekvoyager@gmail.com
Last Update 2009/02/22
*/

body {
	font-family: "宋体", Arial, sans-serif;
	background-color: #000000;
	color: #FFFFFF;
}
h1 {
	font-size: 48px;
}

/*home page*/
#wrapper {
	width: 940px;
	margin: 0 auto;
	position: relative;
}

#welcomeheading a {
	margin-bottom: 10px;
	padding-bottom: 15px;
	padding-top: 10px;
	color: #ffffff;
	text-decoration: none;
}

#welcomeheading {
	text-align: center;
	padding-top: 20px;
	font-family: "黑体", sans-serif;
}

#welcomeheading a:hover {
	color: #aaa;
}

.description {
	text-align: center;
	color: #fff;
	padding-bottom: 20px;
} 

/*contact page*/

#contact {
	font-size: 14px;
	text-align: left;
	color: #FFFFFF;
	width: 600px;
	padding-top: 60px;
	padding-left: 300px;
	padding-bottom: 0px;
}

/*listing page*/
#img-list {
	width: 940px;
	margin-top: 70px;
	margin-bottom: 50px;
	clear: both;
}
#img-list .list a {
	color: #CCCCCC;
	text-decoration: none;
}

#img-list .list a:hover {
	color: #999999;
	text-decoration: none;
	font-weight: bold;
}

#img-list   img  {
	width: 200px;
	padding: 0px;
	height: 133px;
	margin: 12px;
	border-top-width: 1px;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 1px;
	border-top-color: #333333;
	border-right-color: #333333;
	border-bottom-color: #333333;
	border-left-color: #333333;
}

/*sigle picture*/
#content {
	width: 830px;
	margin-right: 55px;
	margin-left: 55px;
	color: #CCCCCC;
	clear: both;
}
#meta  .site-name  {
	float: left;
	width: 500px;
	height: 30px;
	padding-top: 0px;
}
#meta .site-name a{
	color: #CCCCCC;
	text-decoration: none;
	font-family: "黑体", sans-serif;
	font-size: 24px;
	font-weight: bold;
}
#meta .top-navi {
	float: right;
	width: 330px;
	text-align: right;
	font-size: 14px;
	height: 30px;
	padding-top: 10px;
}
#meta .top-navi a {
	text-decoration: none;
	color: #CCCCCC;
}
#image {
	height: auto;
	width: auto;
	margin-top: 40px;
}
#image    .iamge-file img     {
	border: 0px;
}

#caption {
	height: 30px;
	padding-top: 10px;
	font-size: 20px;
	font-family: "宋体", sans-serif;
	font-weight: bolder;
	margin-bottom: 10px;
}
#post {
	line-height: 18px;
	font-size: 14px;
}
#bottom-navi {
	text-align: center;
	height: 35px;
	width: auto;
	padding-top: 20px;
	font-size: 14px;
}
#bottom-navi a {
	color: #CCCCCC;
	text-decoration: none;
}


/*footer*/

#footer {
	color: #FFFFFF;
	font-family: "宋体", Arial, sans-serif;
	text-align: center;
	font-size: 14px;
}
.links {
	padding-top: 10px;
	padding-bottom: 20px;
}
.links a:hover, #contact a:hover {
	color: #aaa;
}
.links a, .copyright a, #contact a{
	text-decoration: none;
	color: #FFFFFF;	
}
